<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navig">
        <div class="container body-content">
            <a class="navbar-brand">Поиск задержанных</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (ViewBag.Logged == true)
                {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" onclick="location.href='@Url.Action("Index", "Home")'">Поиск по ФИО </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" onclick="location.href='@Url.Action("Protocols", "Home")'">Протоколы</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" onclick="location.href='@Url.Action("Detainees", "Home")'">Задержанные</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" onclick="location.href='@Url.Action("Detentions", "Home")'">Задержания</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" onclick="location.href='@Url.Action("AddNewDetention", "Home")'">Новое задержание</a>
                    </li>
                </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a class="nav-link disabled" href="#">@ViewBag.User</a>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='@Url.Action("LogOut", "Home")'">Выйти</button>
                    </form>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" onclick="location.href='@Url.Action("Index", "Home")'">Поиск по ФИО </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Протоколы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Задержанные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Задержания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Новое задержание</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a class="nav-link disabled" href="#">Гость</a>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='@Url.Action("Login", "Home")'">Войти</button>
                    </form>
                }


            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row justify-content-center"><p>&copy; @DateTime.Now.Year – приложение ASP.NET</p></div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
        function ClearTable() {
            $('tbody').empty();
        }

        $('tbody').find('tr').dblclick(function () {
            this.className += "selected_row";
            var pass_ser = this.childNodes[9];
            var pass_num = this.childNodes[11];
            pass_ser = pass_ser.innerHTML;
            pass_num = pass_num.innerHTML
            alert(pass_ser);
            alert(pass_num);
            $.ajax({
                url: '@Url.Action("AdditionalInfo", "Home")',
                type: "post",
                data: { p_ser: pass_ser,p_num: pass_num },
                success: function (data) {
                    alert("hurras")
                    $('#target').empty();
                    $('#target').append(data);
                }
            });
        });

       
    </script>
</body>
</html>
